{% extends 'myApp/base.html' %}
{% block content %}

<html>

    <head><title>Edit Page</title></head>
    <body>
        <form method="POST"> 
            {% csrf_token %}
            <p><b>Paragraph: </b><input type="number" step="1" name="paragraph" required></p>
            <p><b>Content:</b></p>
            <textarea name = "content" rows="20" cols="150"></textarea>
            <p><input type="submit" value="Upload"></p>
            <a href="{% url 'data' volume=volume session=session %}">Go Back</a>
            <p>This page is only used to edit existed paragraph. If you want to upload a new paragraph, please go to <a href="{% url 'upload' volume=volume session=session %}">Upload</a> page.</p>
         
    </form>

    </body>
</html>

{% endblock %}