{% extends 'myApp/base.html' %}
{% block content %}

<html>
    <head><title>Upload Page</title></head>
    <body>
    <h1>Upload Page</h1>
    
    <p>Please enter the content of the certain session.</p>
    <form method="POST"> 
        {% csrf_token %}
        <p><b>Year:</b> {{year}}</p>
        <p><b>Date:</b> {{session}}</p>
        <p><b>Content:</b> {{msg}}</p>
        <p><b>Paragraph: </b><input type="number" step="1" name="paragraph"> Num 0 represents <b>Description. </b></p>
        <textarea name = "content" rows="20" cols="150"></textarea>
        <p><input type="submit" value="Upload"></p>
        <a href="{% url 'data' volume=volume session=session %}">Go Back</a>
     
</form>
    </body>
</html>

{% endblock %}